packages/forgec/src/*.fg.ll
packages/forgec/src/**/*.fg.ll
packages/forgec/src/**/*.bin
packages/std-cli/src/**/*.fg.ll
packages/std-cli/src/**/*.bin
packages/std-test/src/**/*.fg.ll
packages/std-test/src/**/*.bin
tests/*.fg.ll
tests/*.bin
regress/*.fg.ll
regress/*.bin
regress/**/*.fg.ll
regress/**/*.bin
build/
*.bin.o
dogfood_progress.csv
